DISCORD_TOKEN=
COMMAND_PREFIX=/
LOG_LEVEL=INFO
DATABASE_PATH=bot/database/tars.sqlite3
TARS_OWNER_USER_ID=0
TARS_GUILD_ID=0
DISCORD_OAUTH_CLIENT_ID=
DISCORD_OAUTH_CLIENT_SECRET=
DISCORD_OAUTH_REDIRECT_URI=http://localhost:5000/auth/discord/callback
DASHBOARD_SECRET_KEY=
GLOBAL_COMMAND_CHANNEL_ID=1498085284410298590
PRIVATE_VOICE_HUB_ID=1498213727932256308
PROMO_CHANNEL_ID=1498085291506794549
ITAD_API_KEY=
ITAD_CLIENT_ID=
