DISCORD_TOKEN=
COMMAND_PREFIX=/
LOG_LEVEL=INFO
DATABASE_PATH=bot/database/tars.sqlite3
GLOBAL_COMMAND_CHANNEL_ID=1498085284410298590
PRIVATE_VOICE_HUB_ID=1498213727932256308
PROMO_CHANNEL_ID=1498085291506794549
ITAD_API_KEY=
ITAD_CLIENT_ID=
